[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/kabir-fx/whitelist-transfer-hook.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/kabir-fx/escrow-litesvm.git
[submodule "magicblock-er-example"]
	path = magicblock-er-example
	url = https://github.com/kabir-fx/magicblock-er-example.git
[submodule "Serealization-enabled-storage"]
	path = Serealization-enabled-storage
	url = https://github.com/kabir-fx/Serealization-enabled-storage.git
[submodule "accel-week2-challenge"]
	path = accel-week2-challenge
	url = https://github.com/kabir-fx/accel-week2-challenge.git
